HousingPrices/.env
/SpotifyGenre/app/__pycache__
/SpotifyGenre/app/routers/__pycache__
/SpotifyGenre/app/schemas/__pycache__
/SpotifyGenre/app/services/__pycache__
/SpotifyGenre/app/core/__pycache__
ImagesCustomTrainer/.env
/ImagesCustomTrainer/data/bccd-1
FineTunning/.env
